@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;600;700&display=swap');

:root {
  /* --font-family-heading: 'AppleGothic'; */
  --font-family-heading: 'AppleGothic', 'Albert Sans', sans-serif;
  --font-family-body: 'Albert Sans', sans-serif;
}
